
@{
    ViewBag.Title = "Advertising Calendar";
}

<h2>Advertising Calendar</h2>


@section scripts{
<script type='text/javascript'>

$(document).ready(function() {
    $('#calendar').fullCalendar({
        googleCalendarApiKey: 'AIzaSyBCouTSoCW6ODOJP91DEXQCL2LDAUCEEJg',
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        businessHours: true,
        events: {
            googleCalendarId: 'mfcastro50@gmail.com',
            className: 'gcal-event'
        },
        eventClick: function (event) {
            // opens events in a popup window
            window.open(event.url, 'gcalevent', 'width=700,height=600');
            return false;
        },

        loading: function (bool) {
            $('#loading').toggle(bool);
        }
        
    });
});

</script>


}


<div class="row">
    <div class="col-md-12">
        <div id='calendar'></div>
    </div>
</div>


