@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="row">
    <div class="col-md-12">
        <h3>@ViewBag.Message</h3>
    </div>

    <div>
        <div class="col-md-12">
            <form method="post">
                <label for="message">Message:</label>
                <textarea name="message" rows="6" class="form-control"></textarea>

                <input class="btn btn-primary margin-top-20" type="submit" value="Send"/>
            </form>
        </div>
    </div>
</div>