@model RetailAdvertisingTool.Models.InventoryManager

@{
    ViewBag.Title = "Index";
}



<div class="jumbotron">
    <h1>Please log in to Salesforce</h1>

    <div class="col-md-4">
        <a href="@Url.Action("Login", "Login")" class="btn btn-info"><span class="glyphicon glyphicon-log-in"> </span> Connect to SalesForce</a>
    </div>

</div>